:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --font-color: #ffffff;
  --secondary-font-color: #2f303a;
  --third-font-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

body {
  background-color: var(--font-color);
  color: var(--primary-text-color);
  margin: 0;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--font-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
  outline: none;
}

.list-icons-team {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.icons-social-links:not(:last-child) {
  margin-right: 10px;
}

.icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team:hover, .icons-team:focus {
  background-color: var(--accent);
  fill: var(--font-color);
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #44454e;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer:hover, .icons-footer:focus {
  background-color: var(--accent);
}

.icons-nav-footer {
  margin-left: 0;
}

.list-icons-footer {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.list-icons-footer li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .icons-nav-footer {
    margin-left: 70px;
  }
}

.hero-title {
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.header__link {
  color: var(--accent);
  font-family: raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
}

.header-link__logo_color_accent {
  color: var(--primary-text-color);
}

.accent-footer {
  color: var(--font-color);
}

.logo-footer {
  color: var(--accent);
  margin-bottom: 20px;
  display: block;
  margin-right: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    color: var(--accent);
    margin-bottom: 25px;
    display: block;
    margin-right: 0;
    font-family: raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
  .header__link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.text-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus, .contact-form-input:hover {
  border-color: var(--accent);
  outline: none;
}

.text-form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon,
.contact-form-input:hover + .contact-form-icon {
  fill: var(--accent);
}

.contact-form-input-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-massage {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-massage:focus, .contact-form-massage:hover {
  border-color: var(--accent);
  outline: none;
}

.contact-form-massage::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-no-check.svg);
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid rgba(33, 150, 243, 0.5);
  border-radius: 2px;
}

.contact-form-checkbox-wraper {
  margin-bottom: 30px;
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  color: var(--font-color);
  background: var(--accent);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.privacy-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.button {
  color: var(--font-color);
  background: var(--accent);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.filter-button {
  color: var(--primary-text-color);
  min-width: 73px;
  background-color: var(--third-font-color);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  box-shadow: none;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--font-color);
  background-color: var(--accent);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.list-button {
  display: flex;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 0;
  justify-content: flex-start;
}

.list-btn__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .adaptive-mobile {
    margin-bottom: 0;
  }
  .list-button {
    justify-content: center;
    margin-bottom: 30px;
  }
  .list-btn__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-button {
    margin-bottom: 50px;
  }
}

.navigation {
  display: none;
}

.contacts-list {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 10px;
  padding-bottom: 16px;
  position: relative;
}

.mobile-menu-btn {
  background-color: #ffffff;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-list-item__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-item__link:hover,
.mobile-menu-list-item__link:focus {
  color: #2196f3;
}

.mobile-menu__contacts {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.mobile-menu-contacts__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-contacts__list:not(:last-child) {
  margin-bottom: 32px;
}

.tel {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mobile-menu-social__list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.mobile-menu-social-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social-list__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-social-list-item__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 21px 0;
  }
  .contacts-list a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .mobile-menu-btn {
    display: none;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header {
    padding: 0;
  }
  .contacts-list-item-link__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts-list-item__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-item__link:hover, .contacts-list-item__link:focus {
    color: var(--accent);
    cursor: pointer;
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .site-nav-item__current-page {
    position: relative;
  }
  .site-nav-item__current-page::after {
    content: "";
    background-color: var(--accent);
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
  .site-nav .site-nav-item__current-page {
    color: var(--accent);
    padding-bottom: 32px;
  }
  .site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav a:hover, .site-nav a:focus {
    color: var(--accent);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .modal-menu__btn {
    display: none;
  }
  .navigation {
    display: flex;
    margin-left: 93px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav-item__current-page {
    position: relative;
  }
  .site-nav-item__current-page::after {
    content: "";
    background-color: var(--accent);
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
  .site-nav .site-nav-item__current-page {
    color: var(--accent);
    padding-bottom: 32px;
  }
  .site-nav {
    display: flex;
  }
  .site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav a:hover, .site-nav a:focus {
    color: var(--accent);
  }
  .site-nav .site-nav__item {
    margin-right: 50px;
    display: block;
  }
  .site-nav .site-nav__item:last-child {
    margin-right: 0;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .contacts-list a {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts-list .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
  .contacts-list-item__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-item__link:hover, .contacts-list-item__link:focus {
    color: var(--accent);
    cursor: pointer;
  }
  .contacts-list-item-link__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.hero {
  background-color: var(--secondary-font-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}

.hero-title__mobile {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-mobile {
  min-height: 609px;
  min-width: 450px;
  overflow: auto;
}

.contact-form-checkbox-label__mobile {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.privacy-policy__mobile {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desctop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title__mobile {
    color: var(--font-color);
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .modal-mobile {
    min-height: 581px;
    min-width: 528px;
  }
  .contact-form-checkbox-label__mobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .privacy-policy__mobile {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
  }
}

.list-text {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: auto;
}

.mobile-text {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}

.mobile-text_item {
  color: #757575;
}

.list-text-item {
  height: auto;
  width: 450px;
}

.list-text-item:not(:last-child) {
  margin-bottom: 30px;
}

.list-text-icons {
  background-color: var(--third-font-color);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .list-text-item {
    width: 354px;
  }
  .mobile-text {
    text-align: left;
  }
  .list-text-item:nth-child(odd) {
    margin-right: 30px;
  }
  .list-text-item:nth-child(3) {
    margin-bottom: 0;
  }
  .list-text {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .list-text {
    flex-wrap: nowrap;
  }
  .list-text li:not(:last-child) {
    margin-right: 30px;
  }
  .list-text-item {
    width: 270px;
  }
  .list-text-item:nth-child(2) {
    margin-bottom: 0;
  }
  .list-text-item:nth-child(1) {
    margin-bottom: 0;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
  .list-work {
    position: relative;
    z-index: -1;
  }
  .list-work:not(:last-child) {
    margin-right: 30px;
  }
  .overlay-work {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 82px;
    height: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--font-color);
  }
  .section {
    color: var(--secondary-text-color);
    margin-bottom: 0;
    margin-top: 0;
  }
  .section h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.work-picture:not(:last-child) {
  margin-right: 30px;
}

.list-item {
  background-color: var(--font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-item:not(:last-child) {
  margin-bottom: 30px;
}

.list-team_name {
  color: #212121;
}

.section-our-team {
  background-color: var(--third-font-color);
}

.section-our-team p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-our-team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-our-team__picture {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .section-our-team__picture {
    width: 354px;
  }
  .list-item:nth-child(3) {
    margin-bottom: 0;
  }
  .list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__picture {
    width: 270px;
  }
  .list-item:nth-child(1) {
    margin-bottom: 0;
  }
  .list-item:nth-child(2) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.logo-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-client:hover, .logo-client:focus {
  fill: var(--accent);
  border: 1px solid #2196f3;
}

.list-logos {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.svg-logo-list:nth-child(odd) {
  margin-right: 30px;
}

.svg-logo-list:nth-child(-n + 4) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .logo-client {
    width: 226px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-client:hover, .logo-client:focus {
    fill: var(--accent);
    border: 1px solid #2196f3;
  }
  .svg-logo-list:nth-child(odd) {
    margin-right: 0;
  }
  .svg-logo-list:nth-child(-n + 4) {
    margin-bottom: 0;
  }
  .svg-logo-list:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .svg-logo-list:nth-child(3n + 3) {
    margin-right: 0;
  }
  .list-logos {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .logo-client {
    width: 170px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-client:hover, .logo-client:focus {
    fill: var(--accent);
    border: 1px solid #2196f3;
  }
  .list-logos {
    flex-wrap: nowrap;
  }
  .svg-logo-list:not(:last-child) {
    margin-right: 30px;
  }
  .svg-logo-list:nth-child(-n + 4) {
    margin-bottom: 0;
  }
}

.list-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list-footer li:not(:last-child) {
  margin-bottom: 8px;
}

.tablet-footer {
  margin-bottom: 60px;
}

footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adress {
  color: var(--font-color);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover, .adress:focus {
  color: var(--accent);
}

.contacts-footer {
  color: #ffffff99;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover, .contacts-footer:focus {
  color: var(--accent);
}

address {
  font-style: normal;
}

.text-footer {
  text-transform: uppercase;
  color: var(--font-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

.text-form-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
}

.form-footer {
  display: block;
  margin-top: 60px;
}

.footer-form-massage {
  color: var(--font-color);
  width: 358px;
  height: 50px;
  margin-top: 4px;
  padding: 15px 16px;
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  overflow: hidden;
}

.footer-form-massage::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: block;
  color: var(--font-color);
  background: var(--accent);
  cursor: pointer;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 20px;
}

.footer-form-btn:hover, .footer-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.footer-form-btn:after {
  content: "";
  background-image: url(../images/icon-send.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  right: 18px;
  top: 13px;
}

.btn-text {
  display: block;
  padding-left: 29px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .nav-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 768px;
  }
  .tablet-footer {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-footer {
    display: flex;
    align-items: baseline;
  }
  .tablet-footer {
    display: block;
    margin: 0;
  }
  .footer-form-btn {
    display: inline-block;
  }
  .footer-form-field {
    display: flex;
  }
  .footer-position {
    display: flex;
    align-items: baseline;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    align-items: baseline;
  }
  .list-footer {
    display: block;
    margin-bottom: 0;
    text-align: left;
  }
  .text-form-footer {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .text-footer {
    text-align: left;
  }
  .footer-form-btn {
    margin-left: 12px;
  }
  .form-footer {
    margin-left: 93px;
    margin-top: 0;
  }
}

.list-photo {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.list-element:not(:last-child) {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--font-color);
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:focus .overlay,
.link-portfolio:hover .overlay {
  transform: translateY(0);
}

.list-photo-wraper {
  position: relative;
  overflow: hidden;
}

.link-portfolio {
  color: var(--secondary-text-color);
  display: inline-block;
  font-size: 16px;
  line-height: 1.9;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio h2 {
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.link-portfolio:hover, .link-portfolio:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.list-photo-element {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.list-button li:not(:last-child) {
  margin-right: 8px;
}

.list-element__picture {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .list-element__picture {
    width: 354px;
  }
  .list-element:nth-child(odd) {
    margin-right: 30px;
  }
  .list-photo-element__title {
    width: 304px;
    height: 72px;
  }
  .list-photo-element {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .list-element__picture {
    width: 370px;
  }
  .list-photo-element {
    height: 110px;
  }
  .list-photo-element__title {
    width: 320px;
    height: 36px;
  }
  .list-element:nth-child(3) {
    margin-right: 0;
  }
  .list-element:nth-child(9) {
    margin-right: 0;
  }
  .list-element:nth-child(2) {
    margin-right: 30px;
  }
  .list-element:nth-child(4) {
    margin-right: 30px;
  }
  .list-element:nth-child(8) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .list-element:nth-child(7) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */