.list-text {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: auto;
}
.mobile-text {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}
.mobile-text_item {
  color: #757575;
}
.list-text-item {
  height: auto;
  width: 450px;
  margin-bottom: 30px;
}
.list-text-icons {
  background-color: var(--third-font-color);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .list-text-item {
    width: 354px;
  }
  .mobile-text {
    text-align: left;
  }
  .list-text-item:nth-child(odd) {
    margin-right: 30px;
  }
  .list-text {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .list-text {
    flex-wrap: nowrap;
    & li:not(:last-child) {
      margin-right: 30px;
    }
  }
  .list-text-item {
    width: 270px;
  }
}
// .list-text {
//   display: flex;
//   flex-wrap: nowrap;
//   list-style: none;
//   padding-left: 0;
//   margin: 0;
//   & li:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .list-text-item {
//   height: auto;
//   width: 270px;

//   margin-bottom: 30px;
// }
