.main-nav {
  display: flex;
  align-items: center;
}
.site-nav-item__current-page {
  position: relative;
  &::after {
    content: "";
    background-color: var(--accent);
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
  .site-nav & {
    color: var(--accent);
    padding-bottom: 32px;
  }
}
.site-nav {
  display: flex;
  & a {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
}

.site-nav .site-nav__item {
  margin-right: 50px;
  display: block;
  &:last-child {
    margin-right: 0;
  }
}

.contacts-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  & a {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.contacts-list .contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}
.contacts-list-item__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
    cursor: pointer;
  }
}

.contacts-list-item-link__icon {
  margin-right: 10px;
  fill: currentColor;
}
