.navigation {
  display: none;
}
.contacts-list {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-top: 10px;
  padding-bottom: 16px;
  position: relative;
}
.mobile-menu-btn {
  background-color: #ffffff;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 302px;
  margin-top: 0;
}
.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-list-item__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-list-item__link:hover,
.mobile-menu-list-item__link:focus {
  color: #2196f3;
}
.mobile-menu__contacts {
  list-style: none;
  padding: 0;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
.mobile-menu-contacts__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-contacts__list:not(:last-child) {
  margin-bottom: 32px;
}
.tel {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.mobile-menu-social__list {
  list-style: none;
  display: flex;
  margin-top: 64px;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 25px;
}
.mobile-menu-social-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-social-list__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-menu-social-list-item__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 21px 0;
    & a {
      color: #757575;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
  .mobile-menu-btn {
    display: none;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header {
    padding: 0;
  }
  .contacts-list-item-link__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts-list-item__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent);
      cursor: pointer;
    }
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .site-nav-item__current-page {
    position: relative;
    &::after {
      content: "";
      background-color: var(--accent);
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      border-radius: 2px;
    }
    .site-nav & {
      color: var(--accent);
      padding-bottom: 32px;
    }
  }
  .site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .modal-menu__btn {
    display: none;
  }
  .navigation {
    display: flex;
    margin-left: 93px;
  }
  .container {
    margin: 0;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav-item__current-page {
    position: relative;
    &::after {
      content: "";
      background-color: var(--accent);
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      border-radius: 2px;
    }
    .site-nav & {
      color: var(--accent);
      padding-bottom: 32px;
    }
  }
  .site-nav {
    display: flex;
    & a {
      color: var(--primary-text-color);

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding-bottom: 32px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--accent);
      }
    }
  }

  .site-nav .site-nav__item {
    margin-right: 50px;
    display: block;
    &:last-child {
      margin-right: 0;
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    & a {
      color: var(--secondary-text-color);

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
  .contacts-list .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
  .contacts-list-item__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent);
      cursor: pointer;
    }
  }

  .contacts-list-item-link__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
// .site-nav-item__current-page {
//   position: relative;
//   &::after {
//     content: "";
//     background-color: var(--accent);
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     bottom: 0;
//     left: 0;
//     border-radius: 2px;
//   }
//   .site-nav & {
//     color: var(--accent);
//     padding-bottom: 32px;
//   }
// }
// .site-nav {
//   display: flex;
//   & a {
//     color: var(--primary-text-color);

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       color: var(--accent);
//     }
//   }
// }

// .site-nav .site-nav__item {
//   margin-right: 50px;
//   display: block;
//   &:last-child {
//     margin-right: 0;
//   }
// }

// .contacts-list {
//   display: flex;
//   list-style: none;
//   padding-left: 0;
//   padding: 0;
//   margin-top: 0;
//   margin-bottom: 0;
//   margin-left: auto;
//   & a {
//     color: var(--secondary-text-color);

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//   }
// }
// .contacts-list .contacts-list__item + .contacts-list__item {
//   margin-left: 50px;
// }
// .contacts-list-item__link {
//   display: flex;
//   align-items: center;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent);
//     cursor: pointer;
//   }
// }

// .contacts-list-item-link__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
