.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list .item:not(:last-child) {
  margin-right: 50px;
}
.work-picture:not(:last-child) {
  margin-right: 30px;
}
.list-item {
  background-color: var(--font-color);
  margin-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section-our-team {
  background-color: var(--third-font-color);

  padding-top: 94px;
  padding-bottom: 94px;
  & p {
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  & h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
