.filter-button {
  color: var(--primary-text-color);
  min-width: 73px;
  background-color: var(--third-font-color);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  box-shadow: none;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--font-color);
    background-color: var(--accent);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.list-button {
  display: flex;
  list-style: none;
  margin: 0;

  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}
