.list-icons-team {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
  margin-bottom: 30px;
}
.icons-social-links:not(:last-child) {
  margin-right: 10px;
}

.icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
    fill: var(--font-color);
  }
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(68, 69, 78, 1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}
.icons-nav-footer {
  margin-left: 70px;
}

.list-icons-footer {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  & li:not(:last-child) {
    margin-right: 10px;
  }
}
