h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
html {
  box-sizing: border-box;
}
header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
body {
  background-color: var(--font-color);
  color: var(--primary-text-color);
  margin: 0;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
